body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin: auto;
  text-align:center;
}

nav a {
  padding: 10px 10px;
  color: gray;
}

figure {
  text-align: center;
  font-size: smaller;
}

#featured-property p {
  text-align: center;
  width: 800px;
}

#details {
  display: block;
}

#details div {
  float: left;
}
